{% block title %}
Список категорий
{% endblock title %}

<hr>

{% block content %}
<table>
    <tr>
        <td>Название:</td>
        <td>Редактирование</td>
        <td>Удаление</td>

    </tr>
    {% for category in categories %}
    <tr>
        <td>{{ category.name }}</td>
        <td><a href="{% url 'category_update' category.id %}">Редактировать</a> </td>
        <td><a href="{% url 'category_delete' category.id %}">Удалить</a> </td>
    </tr>
    {% endfor %}
</table>
<button><a href="{% url 'category_create' %}">Добавить Категорию</a> </button>
<button><a href="{% url 'dataDDS_list' %}">Вернуться на главную страницу</a> </button>
{% endblock content %}